<!DOCTYPE html>
<html>
<head>
    <title>Contact Form</title>
    <!-- Bootstrap CSS CDN link -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
            font-family: Arial, sans-serif;
        }
        .form-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Contact Form</h1>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.subject.label_tag }}
                    {{ form.subject }}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.message.label_tag }}
                    {{ form.message }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <hr>
        <a href="{% url 'home'%}" class="btn btn-secondary">Home</a>
    </div>

    <!-- Bootstrap JS CDN link (for Bootstrap JavaScript functionalities) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
